* {
  box-sizing: border-box;
}
:root {
  --fuente-texto: "Montserrat", sans-serif;
  --fuente-codigo-explicativo: ui-monospace, SFMono-Regular, SF Mono, Menlo,
    Consolas, Liberation Mono, monospace;
  --color-principal: #003366;
  --color-secundario: #007acc;
  --color-terciario: #181818;
  --color-fondo-web: #fff;
  --color-texto-titulo: #fff;
  --color-texto-codigo: #fff;
  --color-texto-deshabilitado: #9aa0a6;
  --color-lineas-boton-menu: #fff;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  margin-left: 15px;
}
h1,
h2,
h3 {
  margin-top: 0;
}
a {
  color: var(--color-principal);
}
body {
  font-family: var(--fuente-texto);
  color: var(--color-principal);
  background-color: var(--color-fondo-web);
}
ul li {
  list-style: initial;
}
.text-decoration-underline {
  text-decoration: underline;
}
.color-secundario {
  color: var(--color-secundario);
}
.color-letra-deshabilitado {
  color: var(--color-texto-deshabilitado);
}
.titulo-web {
  padding-top: 48px;
}
.contenedor-titulo,
.codigo {
  position: relative;
}
.contenedor-titulo .imagen-titulo {
  filter: brightness(0.7);
  width: 100%;
  height: auto;
}
.contenedor-titulo .textos-titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-texto-titulo);
  z-index: 1;
  width: 85%;
}
.contenedor-titulo .textos-titulo .titulo,
.contenedor-titulo .textos-titulo .subtitulo {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7), 0px 2px 4px rgba(0, 0, 0, 0.7);
}
.contenedor-titulo .textos-titulo .subtitulo {
  font-size: 17px;
  margin-top: 20px;
  display: inline-block;
}
.columna-guia {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  transform: translateX(-100%);
  padding: 20px 15px 40px 15px;
  background-color: var(--color-fondo-web);
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  transition: transform 0.5s ease-out;
  z-index: 2;
}
.columna-guia.visible {
  transform: translateX(0);
}
.listado {
  margin-top: 20px;
  margin-bottom: 20px;
}
.link-normal:hover,
.link-descarga:hover {
  color: var(--color-secundario);
}
.codigo {
  padding: 15px;
  background-color: var(--color-terciario);
  color: var(--color-texto-codigo);
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: var(--fuente-codigo-explicativo);
}
.codigo .copy {
  text-align: center;
  cursor: pointer;
}
.codigo .check {
  display: none;
}
.codigo .check.visible {
  display: flex;
  align-items: center;
}
.boton-menu {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  padding: 15px 0;
  background-color: var(--color-secundario);
  border: 2px solid var(--color-principal);
  border-radius: 50%;
  outline: 0;
  flex-direction: column;
  z-index: 30;
}
.boton-menu span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--color-lineas-boton-menu);
  transition: ease opacity 0.5s, ease transform 0.5s;
}

.boton-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.boton-menu.active span:nth-child(2) {
  opacity: 0;
}

.boton-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (min-width: 1020px) {
  .columna-guia {
    width: 350px;
    transform: translate(-350px);
  }
  .contenedor-titulo .textos-titulo .titulo {
    font-size: 50px;
  }
  .contenedor-titulo .textos-titulo .subtitulo {
    font-size: 30px;
  }
}
